.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.sect-title {
  font-size: 10vw;
  font-weight: 900;
  color: var(--primary-color);
  font-family: var(--primary-font);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}
