body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.theme-changer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.theme-changer button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  transition: transform 300ms ease;
}

.theme-changer button i {
  font-size: 35px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-changer button:hover {
  transform: scale(1.11);
}
